<div class="col-sm-8">
    <form id="contactForm" method="post" action='/signup/'>
        <div class="fieldset">
            <h1>SignUp</h1>
                <ul class="form-list">
                    <li>
                        <label for="username" class="required">UserName</label>
                            <div class="input-box">
                                <input name="username" id="username" title="username" value="" type="text">
                            </div>
                    </li>
                    <li>
                        <label for="firstname" class="required">FirstName</label>
                            <div class="input-box">
                                <input name="firstname" id="firstname" title="firstname" value="" type="text">
                            </div>
                    </li>
                    <li>
                        <label for="email" class="required">Email</label>
                            <div class="input-box">
                                <input name="email" id="email" title="Email" value="" class="input-text required-entry validate-email" type="text">
                            </div>
                    </li>
                    <li>
                        <label for="email" class="required">Password</label>
                            <div class="input-box">
                                <input name="password" id="password" title="password" value="" class="input-text required-entry validate-email" type="password">
                            </div>
                    </li>
                    <td><input type="submit" name="submit" value="SignUp" class="button"></td>
                    
                </ul>
        </div>
</div>